extends layout 
 
block content 
  h1= title 
 
  form(id='ShoppingForm', action="/resource/shopping", method="POST") 
    div.form-group 
        label.shoppingAttr(for='shopping_type') shopping type 
        input#shopping_type(type='text',class="form-control", name='shopping_type') 
    div.form-group 
        label.shoppingAttr(for='size') shopping size 
        input#size(type='text',class="form-control", name='size') 
    div.form-group 
        label.shoppingAttr(for='cost') shopping cost 
        input#cost(type='number',class="form-control", name='cost') 
    input(type="submit" class="btn btn-danger m-2") 
 
  script. 
    document.forms['ShoppingForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 